@charset "utf-8";
/* CSS Document */
body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
    color: #909090;
    line-height: 180%;
    font-family: '微软雅黑';
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}